/*logo*/

/*This makes the logo the size that it is in the header*/
header img#logo {
  width: 300px;
  height: 150px;
}

/*base styles*/

/*This makes thge html document a background of white with the height of 100%.*/
html {
   background-color: white;
   background-image: url(pics/background.jpg);
   /* !*!*!*!*!*!*!*!*!*!*!*!*!*!background image????????????????????????????????? */
   height: 100%;

}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   margin: 0px auto;
   min-width: 320px;
   max-width: 1100px;
   width: 100%;
   min-width: 925px;
}

/* Fonts and text styles */
p {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
  height: 50px;
}

/* Header styles */

body > header {
   color: white;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-items: flex-end;
   align-items: flex-end;
   width: 100%;
   background: linear-gradient(to top left, rgb(241, 239, 239), white);
}

body > header > img {
   display: block;
   -webkit-flex: 0 1 200px;
   flex: 0 1 200px;
}


/* Nav styles */

body > header > nav {
   -webkit-flex: 1 1 441px;
   flex: 1 1 441px;
   margin-right: 25px;
}

body > header > nav > ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   padding-right: 60px;
}

body > header > li {
   -webkit-flex: 0 1 auto;
   flex: 0 1 auto;
}

body > header > nav > ul > a {
   display: block;
   width: 130px;
   color: black;
   font-size: 1.2em;
   line-height: 2.3em;
   height: 2.3em;
   font-family: 'Fjalla One', sans-serif;
   letter-spacing: 2px;
   margin-bottom: 10px;
   text-align: center;
   padding-right: 5px;
   transition: color 0.6s;
}

a:hover {
  color: rgb(51, 205, 107);
}


/* footer styles */
footer {
  margin-top: 25px;
  padding: 20px 0px 0px 0px;
  width: 100%;
  background: linear-gradient(to top left, rgb(241, 239, 239), white);
}

footer p {
  text-align: center;
}
