/* contact.css */



/* Positioning styles */

/* LOOK UP https://www.w3schools.com/howto/howto_js_toggle_hide_show.asp
AND https://www.w3schools.com/css/css3_flexbox.asp to make an application sheet that folds out into a tray */

* {
    box-sizing: border-box;
}


/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* application tray */
.main {
    flex: 70%;
    background-color: rgb(255, 255, 255);;
    padding: 20px;
}

/* div styles for top section in webpage */
.top {
    height: 200px;
    text-align: center;
}

/* buttons */
.appHide {
    background-color: green;
    width: 90%;
    padding: 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.appHide:focus {
    outline: 0;
}

.appHide:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    background: rgb(60, 187, 39);
    transition: 0.6s;
}

.active {
    width: 110%;
    background: rgb(60, 187, 39);

}

/* hide/unhide elements */
.app {
width: 100%;
padding: 50px 0;
text-align: center;
background-color: lightblue;
margin-top: 20px;
}





/* Overlay application info */

.overlay {
    height: 0%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(206, 206, 206, 0.90);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


/* Forms styles */
.forms {
    padding: 10px 30px;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
}
