/* index.css */

h2 {
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  width: 500px;
  height: 50px;
}


/*This will be the styles for our slideshow*/
.slideShow {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* by default, DO NIT display slide images */
.slide {
  display: none;
}

/* slide buttons */
.last, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* position next button */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* add fancy styles to buttons */
.last:hover, .next:hover {
  background-color: rgba(48, 205, 105, 0.80);
}

div#text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* numbertext content */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Slide dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* this will set the Background colors */
body {
  background-color: white; 
}

section {
  padding: 0px 30px;
}