/*products.css*/

h2 {
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

section.package1 {
    background-color: lightblue;
    height: 450px;
    margin: 20px;
    margin-left: 130px;
    border-radius: 60px;
}

section.package2 {
    background-color: lightblue;
    height: 450px;
      margin: 20px;
      border-radius: 60px;
}

section.package3 {
    background-color: lightblue;
    height: 450px;
      margin: 20px;
      border-radius: 60px;
}

section p {
  width: 250px;
}

h2 {
}
